<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/bank_manage</property>

        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">10</property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>

        <mapping class="entity.BankAdminEntity"/>
        <mapping class="entity.UserApplyArchiveEntity"/>
        <mapping class="entity.BankStaffEntity"/>
        <mapping class="entity.UserEntity"/>
        <mapping class="entity.UserAccountEntity"/>
        <mapping class="entity.UserCardEntity"/>
        <mapping class="entity.UserPayeeEntity"/>
        <mapping class="entity.SysConfigEntity"/>
        <mapping class="entity.UserAccountTypeEntity"/>
        <mapping class="entity.UserApplyArchiveEntity"/>
        <mapping class="entity.UserHistoryEntity"/>

    </session-factory>


</hibernate-configuration>

